
.vscode/c_cpp_properties.json
28081.c
a.exe
Assignment2
Assignment2-pre/drawline.c
Assignment2-pre/drawline.h
Assignment2-pre/libSDL2.so
Assignment2-pre/Makefile
Assignment2-pre/Makefile.in
Assignment2-pre/SDL2-32.dll
Assignment2-pre/SDL2-64.dll
Assignment2-pre/SDL2/begin_code.h
Assignment2-pre/SDL2/close_code.h
Assignment2-pre/SDL2/iconv.h
Assignment2-pre/SDL2/SDL.h
Assignment2-pre/SDL2/SDL_assert.h
Assignment2-pre/SDL2/SDL_atomic.h
Assignment2-pre/SDL2/SDL_audio.h
Assignment2-pre/SDL2/SDL_bits.h
Assignment2-pre/SDL2/SDL_blendmode.h
Assignment2-pre/SDL2/SDL_clipboard.h
Assignment2-pre/SDL2/SDL_config.h
Assignment2-pre/SDL2/SDL_cpuinfo.h
Assignment2-pre/SDL2/SDL_egl.h
Assignment2-pre/SDL2/SDL_endian.h
Assignment2-pre/SDL2/SDL_error.h
Assignment2-pre/SDL2/SDL_events.h
Assignment2-pre/SDL2/SDL_filesystem.h
Assignment2-pre/SDL2/SDL_gamecontroller.h
Assignment2-pre/SDL2/SDL_gesture.h
Assignment2-pre/SDL2/SDL_haptic.h
Assignment2-pre/SDL2/SDL_hints.h
Assignment2-pre/SDL2/SDL_joystick.h
Assignment2-pre/SDL2/SDL_keyboard.h
Assignment2-pre/SDL2/SDL_keycode.h
Assignment2-pre/SDL2/SDL_loadso.h
Assignment2-pre/SDL2/SDL_log.h
Assignment2-pre/SDL2/SDL_main.h
Assignment2-pre/SDL2/SDL_messagebox.h
Assignment2-pre/SDL2/SDL_mouse.h
Assignment2-pre/SDL2/SDL_mutex.h
Assignment2-pre/SDL2/SDL_name.h
Assignment2-pre/SDL2/SDL_opengl.h
Assignment2-pre/SDL2/SDL_opengl_glext.h
Assignment2-pre/SDL2/SDL_opengles.h
Assignment2-pre/SDL2/SDL_opengles2.h
Assignment2-pre/SDL2/SDL_opengles2_gl2.h
Assignment2-pre/SDL2/SDL_opengles2_gl2ext.h
Assignment2-pre/SDL2/SDL_opengles2_gl2platform.h
Assignment2-pre/SDL2/SDL_opengles2_khrplatform.h
Assignment2-pre/SDL2/SDL_pixels.h
Assignment2-pre/SDL2/SDL_platform.h
Assignment2-pre/SDL2/SDL_power.h
Assignment2-pre/SDL2/SDL_quit.h
Assignment2-pre/SDL2/SDL_rect.h
Assignment2-pre/SDL2/SDL_render.h
Assignment2-pre/SDL2/SDL_revision.h
Assignment2-pre/SDL2/SDL_rwops.h
Assignment2-pre/SDL2/SDL_scancode.h
Assignment2-pre/SDL2/SDL_shape.h
Assignment2-pre/SDL2/SDL_stdinc.h
Assignment2-pre/SDL2/SDL_surface.h
Assignment2-pre/SDL2/SDL_system.h
Assignment2-pre/SDL2/SDL_syswm.h
Assignment2-pre/SDL2/SDL_test.h
Assignment2-pre/SDL2/SDL_test_assert.h
Assignment2-pre/SDL2/SDL_test_common.h
Assignment2-pre/SDL2/SDL_test_compare.h
Assignment2-pre/SDL2/SDL_test_crc32.h
Assignment2-pre/SDL2/SDL_test_font.h
Assignment2-pre/SDL2/SDL_test_fuzzer.h
Assignment2-pre/SDL2/SDL_test_harness.h
Assignment2-pre/SDL2/SDL_test_images.h
Assignment2-pre/SDL2/SDL_test_log.h
Assignment2-pre/SDL2/SDL_test_md5.h
Assignment2-pre/SDL2/SDL_test_random.h
Assignment2-pre/SDL2/SDL_thread.h
Assignment2-pre/SDL2/SDL_timer.h
Assignment2-pre/SDL2/SDL_touch.h
Assignment2-pre/SDL2/SDL_types.h
Assignment2-pre/SDL2/SDL_version.h
Assignment2-pre/SDL2/SDL_video.h
Assignment2.c
calc.c
calc.exe
Conspiracygen.html
fml.exe
funksjon.c
Kalkulator.txt
mynumtest.c
number_game3.c
number_game4.c
numtest.exe
Oblig1.c
prime.c
prime.exe
prime.exe.stackdump
test.exe
test.exe.stackdump
testnum.exe
tst2.exe
